* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    overflow-x:hidden;
}
a {
    font-style: normal;
    text-decoration: none;
}

::selection {
    background:#EA6F5A; 
    color:white;
}
