<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Sangle的博客</title>
    <link rel="shortcut icon" href="build/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/build/github-markdown.css" />
    <link type="text/css" rel="stylesheet" href="/build/github.css" />
</head>

<body>
    <div id="root"><%- markup -%></div>
    <script src="/build/main.js"></script>
</body>

</html>
