.TOC {
    height: calc(100% - 64px);
    width: 220px;
    position: fixed;
    z-index: 100;
    overflow-y: scroll;
    background: white;
    transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
    top: 64px;
    transition: .5s;
    -webkit-transition: .5s;
    padding: 20px;
    box-sizing: border-box;
    a {
        letter-spacing: .3px;
        text-decoration: none;
        padding-bottom: 10px;
        display: inline-block;
        font-size: 13px;
        color: black;
        word-wrap: break-word;
        &:hover {
            text-decoration: underline;
        }
    }
    &::-webkit-scrollbar-track-piece {
        border-radius: 0;
        background-color: #fff;
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        height: 50px;
        border: 2px solid #fff;
        border-radius: 4px;
        outline: 2px solid #fff;
        outline-offset: -2px;
        background-color: #999;
    }
    &::-webkit-scrollbar-thumb:hover {
        height: 50px;
        border-radius: 4px;
        background-color: #9f9f9f;
    }
}

.TOCcontroller {
    left: 5px;
    top: 64px;
    height: 40px;
    width: 40px;
    position: fixed;
    border-radius: 50%;
    color: white;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    transition: .5s;
    box-shadow: 0px 5px 5px #7A7A7A;
    cursor: pointer;
}

.menu {
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

:global(.TOC-H3) {
    padding-left: 20px;
}

:global(.TOC-H4) {
    padding-left: 40px;
}

:global(.TOC-H5) {
    padding-left: 60px;
}

:global(.TOC-H6) {
    padding-left: 80px;
}
